## Update Data Into Table

* Typical syntax

```sql
UPDATE 
    table_name
SET
    col1 = val1,
    col2 = val2
WHERE 
    condition
```

* If `WHERE` condition is not specified, all rows in the table will be updated.

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://suryakantkumar:None@localhost:5432/suryakantkumar

env: DATABASE_URL=postgresql://suryakantkumar:None@localhost:5432/suryakantkumar

* Set user role for user id 1 AS "A"

In [3]:
%%sql

UPDATE
    users
SET
    user_role = 'A'
WHERE
    user_id = 1

1 rows affected.

[]

In [4]:
%%sql 

SELECT 
    user_id,
    user_role
FROM
    users

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
4 rows affected.

[(2, 'U'), (3, 'U'), (4, 'U'), (1, 'A')]

* Set user_email_validated and is_active to be `True` for each user.

In [5]:
%%sql

UPDATE
    users
SET
    user_email_validated = true,
    is_active = true

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
4 rows affected.

[]

In [6]:
%%sql 

SELECT 
    user_id,
    user_email_validated,
    is_active 
FROM
    users

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
4 rows affected.

[(2, True, True), (3, True, True), (4, True, True), (1, True, True)]

* Convert Case of user_email_id to `UPPER` for all the records

In [7]:
%%sql

UPDATE
    users
SET
    user_email_id = UPPER(user_email_id)

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
4 rows affected.

[]

In [8]:
%%sql 

SELECT
    user_id,
    user_email_id
FROM
    users

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
4 rows affected.

[(2, 'GBRADOCK0@BARNESANDNOBLE.COM'),
 (3, 'TLYNESS1@PAGINEGIALLE.IT'),
 (4, 'AMESIAS2@TWITPIC.COM'),
 (1, 'SCOTT@TIGER.COM')]