## Add Columns To Existing Table

* Typical Syntax

```sql
ALTER TABLE
    table_name
ADD COLUMN
    new_column_name column_type
```

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://suryakantkumar:None@localhost:5432/suryakantkumar

env: DATABASE_URL=postgresql://suryakantkumar:None@localhost:5432/suryakantkumar

* Add new column by name **user_full_name** in Upper case and update it by concatenating **user_first_name** and **user_last_name**.

In [3]:
%%sql

ALTER TABLE
    users
ADD COLUMN
    user_full_name VARCHAR(60)

Done.

[]

In [4]:
%%sql 

SELECT
    user_id,
    user_first_name,
    user_last_name,
    user_full_name
FROM
    users

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
4 rows affected.

[(2, 'Gordan', 'Bradock', None),
 (3, 'Tobe', 'Lyness', None),
 (4, 'Addie', 'Mesias', None),
 (1, 'Scott', 'Tiger', None)]

In [5]:
%%sql

UPDATE
    users
SET
    user_full_name = UPPER(CONCAT(user_first_name, ' ', user_last_name))

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
4 rows affected.

[]

In [6]:
%%sql 

SELECT
    user_id,
    user_first_name,
    user_last_name,
    user_full_name
FROM
    users

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
4 rows affected.

[(2, 'Gordan', 'Bradock', 'GORDAN BRADOCK'),
 (3, 'Tobe', 'Lyness', 'TOBE LYNESS'),
 (4, 'Addie', 'Mesias', 'ADDIE MESIAS'),
 (1, 'Scott', 'Tiger', 'SCOTT TIGER')]