## Delete Data From Table

* Typical Syntax

```sql
DELETE FROM
    table_name 
WHERE 
    condition
```

* If we do not specify condition, it will delete all the data from the table.

* It is not recommended to use **delete** without **where** condition to delete all the data (instead we should use `TRUNCATE`).

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://suryakantkumar:None@localhost:5432/suryakantkumar

env: DATABASE_URL=postgresql://suryakantkumar:None@localhost:5432/suryakantkumar

* Let's see how we can delete all those records from users where the password is not set. We need to use `IS NULL` as condition to compare against Null values.

In [3]:
%%sql 

SELECT
    user_id,
    user_password
FROM
    users

4 rows affected.

[(2, 'h9LAz7p7ub'), (3, 'oEofndp'), (4, 'ih7Y69u56'), (1, None)]

In [4]:
%%sql

DELETE FROM
    users
WHERE 
    user_password IS NULL

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
1 rows affected.

[]

In [5]:
%%sql 

SELECT
    user_id,
    user_password
FROM
    users

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
3 rows affected.

[(2, 'h9LAz7p7ub'), (3, 'oEofndp'), (4, 'ih7Y69u56')]