### Dealing with Nulls

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://suryakantkumar:None@localhost:5432/suryakantkumar

env: DATABASE_URL=postgresql://suryakantkumar:None@localhost:5432/suryakantkumar

* Get ready with the Data having Null Records

In [3]:
%%sql

DROP TABLE IF EXISTS 
    users;
    
CREATE TABLE 
    users (user_id SERIAL PRIMARY KEY,
           user_first_name VARCHAR(30) NOT NULL,
           user_last_name VARCHAR(30) NOT NULL,
           user_email_id VARCHAR(50) NOT NULL,
           user_email_validated BOOLEAN DEFAULT FALSE,
           user_password VARCHAR(200),
           user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
           is_active BOOLEAN DEFAULT FALSE,
           create_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
           last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP
          );
    
INSERT INTO 
    users (user_first_name, user_last_name, user_email_id)
VALUES 
    ('Donald', 'Duck', 'donald@duck.com');
    
INSERT INTO 
    users (user_first_name, user_last_name, user_email_id, user_role, is_active)
VALUES 
    ('Mickey', 'Mouse', 'mickey@mouse.com', 'U', true);
    
INSERT INTO 
    users (user_first_name, user_last_name, user_email_id, user_password, user_role, is_active) 
VALUES 
    ('Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', 'h9LAz7p7ub', 'U', true),
    ('Tobe', 'Lyness', 'tlyness1@paginegialle.it', 'oEofndp', 'U', true),
    ('Addie', 'Mesias', 'amesias2@twitpic.com', 'ih7Y69u56', 'U', true);

Done.
Done.
1 rows affected.
1 rows affected.
3 rows affected.

[]

In [4]:
%sql SELECT * FROM users

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
5 rows affected.

[(1, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.datetime(2023, 1, 4, 23, 56, 33, 291137), datetime.datetime(2023, 1, 4, 23, 56, 33, 291137)),
 (2, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', True, datetime.datetime(2023, 1, 4, 23, 56, 33, 294059), datetime.datetime(2023, 1, 4, 23, 56, 33, 294059)),
 (3, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', False, 'h9LAz7p7ub', 'U', True, datetime.datetime(2023, 1, 4, 23, 56, 33, 295164), datetime.datetime(2023, 1, 4, 23, 56, 33, 295164)),
 (4, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', False, 'oEofndp', 'U', True, datetime.datetime(2023, 1, 4, 23, 56, 33, 295164), datetime.datetime(2023, 1, 4, 23, 56, 33, 295164)),
 (5, 'Addie', 'Mesias', 'amesias2@twitpic.com', False, 'ih7Y69u56', 'U', True, datetime.datetime(2023, 1, 4, 23, 56, 33, 295164), datetime.datetime(2023, 1, 4, 23, 56, 33, 295164))]

* This will not return any thing and not the correct way to compare against `NULL`.

* `NULL` is specially treated by databases and it is not same as empty string.

In [5]:
%%sql

SELECT 
    * 
FROM 
    users
WHERE 
    user_password = NULL

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
0 rows affected.

[]

* This is the correct way to compare against `NULL`.

* Get all the Records that has no passwords set

In [6]:
%%sql

SELECT 
    * 
FROM 
    users
WHERE 
    user_password IS NULL

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
2 rows affected.

[(1, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.datetime(2023, 1, 4, 23, 56, 33, 291137), datetime.datetime(2023, 1, 4, 23, 56, 33, 291137)),
 (2, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', True, datetime.datetime(2023, 1, 4, 23, 56, 33, 294059), datetime.datetime(2023, 1, 4, 23, 56, 33, 294059))]

* Get all the Records that has passwords set

In [7]:
%%sql

SELECT 
    * 
FROM 
    users
WHERE 
    user_password IS NOT NULL

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
3 rows affected.

[(3, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', False, 'h9LAz7p7ub', 'U', True, datetime.datetime(2023, 1, 4, 23, 56, 33, 295164), datetime.datetime(2023, 1, 4, 23, 56, 33, 295164)),
 (4, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', False, 'oEofndp', 'U', True, datetime.datetime(2023, 1, 4, 23, 56, 33, 295164), datetime.datetime(2023, 1, 4, 23, 56, 33, 295164)),
 (5, 'Addie', 'Mesias', 'amesias2@twitpic.com', False, 'ih7Y69u56', 'U', True, datetime.datetime(2023, 1, 4, 23, 56, 33, 295164), datetime.datetime(2023, 1, 4, 23, 56, 33, 295164))]