## DDL â€“ Data Definition Language

Let us get an overview of DDL Statements which are typically used to create database objects such as tables.

* DDL Stands for Data Definition Language.

* We execute DDL statements less frequently as part of the application development process.

* Typically DDL Scripts are maintained separately than the code.

* Following are the common DDL tasks.
  * Creating Tables - Independent Objects
  * Creating Indexes for performance - Typically dependent on tables
  * Adding constraints to existing tables (`NOT NULL`, `CHECK`, `PRIMARY KEY`, `UNIQUE` etc)

* Following are less common DDL tasks which can be taken care using `ALTER` command.
  * Adding columns to existing tables.
  * Dropping columns from existing tables.
  * Changing data types of existing columns.

* We can also define `Comments` both at column level as well as table level. However in **postgres**, we can only add comments after table is created.

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://suryakantkumar:None@localhost:5432/suryakantkumar

env: DATABASE_URL=postgresql://suryakantkumar:None@localhost:5432/suryakantkumar

In [3]:
%%sql 

DROP TABLE IF EXISTS users;
       
CREATE TABLE
    users (user_id SERIAL PRIMARY KEY,
           user_first_name VARCHAR(30) NOT NULL,
           user_last_name VARCHAR(30) NOT NULL,
           user_email_id VARCHAR(50) NOT NULL,
           user_email_validated BOOLEAN DEFAULT FALSE,
           user_password VARCHAR(200),
           user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
           is_active BOOLEAN DEFAULT FALSE,
           created_dt DATE DEFAULT CURRENT_DATE,
           last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP
          );

Done.
Done.

[]

In [4]:
%%sql

COMMENT 
    ON TABLE users 
        IS 'Stores all user details'

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
Done.

[]

In [5]:
%%sql

COMMENT
    ON COLUMN users.user_id
        IS 'Surrogate Key'

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
Done.

[]