## Adding or Modifying Columns

Let us understand details about adding or modifying columns using `ALTER TABLE` command.

* New columns can be added to the existing table. However, if we want to add a column which cannot have null value then we need to follow these steps:
  * Add column to the table.
  * Update data in the column with some value.
  * Alter table to enforce not null constraint for the newly added column.

* We can perform multiple column level operations using one `ALTER TABLE` command.

* Standard naming convention for sequence : `table_name + "_" + serial_column + "_" + "seq"`

* Existing columns can be dropped from the table, but it is not advisable to do so. If at all we have to drop the column, then there should be extra caution as some or the other application functionality can be broken.

* We can modify the existing columns for defining it as not null or to change the data type.

* Once the application is in production, all the operations related to modifying or dropping columns should be avoided. We can consider adding columns.

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://suryakantkumar:None@localhost:5432/suryakantkumar

env: DATABASE_URL=postgresql://suryakantkumar:None@localhost:5432/suryakantkumar

* Let us perform these tasks to understand more about adding or modifying or dropping table columns.
  * Change the data type of user_id as SERIAL (we have to first create the sequence and then set the sequence generated value as default).
  * Define default value for user_email_validated and is_active to FALSE.
  * Change the data type of user_role to CHAR(1), set default value to 'U'.
  * Add new column last_updated_ts with data type timestamp and also set default value to current timestamp.

In [3]:
%%sql 

DROP SEQUENCE
    IF EXISTS 
        users_user_id_seq

Done.

[]

In [4]:
%%sql 

CREATE SEQUENCE 
    users_user_id_seq

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
Done.

[]

In [5]:
%%sql

ALTER TABLE
    users
        ALTER COLUMN 
            user_id SET DEFAULT nextval('users_user_id_seq'),
        ALTER COLUMN 
            user_email_validated SET DEFAULT FALSE,
        ALTER COLUMN 
            is_active SET DEFAULT FALSE,
        ALTER COLUMN 
            user_role SET DATA TYPE CHAR(1),
        ALTER COLUMN 
            user_role SET DEFAULT 'U',
        ADD COLUMN 
            last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
Done.

[]

In [6]:
%%sql 

SELECT 
    table_catalog, 
    table_name,
    column_name,
    data_type,
    character_maximum_length,
    column_default,
    is_nullable,
    ordinal_position
FROM 
    information_schema.columns 
WHERE 
    table_name = 'users'
ORDER BY 
    ordinal_position

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
10 rows affected.

[('suryakantkumar', 'users', 'user_id', 'integer', None, "nextval('users_user_id_seq'::regclass)", 'YES', 1),
 ('suryakantkumar', 'users', 'user_first_name', 'character varying', 30, None, 'NO', 2),
 ('suryakantkumar', 'users', 'user_last_name', 'character varying', 30, None, 'NO', 3),
 ('suryakantkumar', 'users', 'user_email_id', 'character varying', 50, None, 'NO', 4),
 ('suryakantkumar', 'users', 'user_email_validated', 'boolean', None, 'false', 'YES', 5),
 ('suryakantkumar', 'users', 'user_password', 'character varying', 200, None, 'YES', 6),
 ('suryakantkumar', 'users', 'user_role', 'character', 1, "'U'::bpchar", 'YES', 7),
 ('suryakantkumar', 'users', 'is_active', 'boolean', None, 'false', 'YES', 8),
 ('suryakantkumar', 'users', 'created_dt', 'date', None, 'CURRENT_DATE', 'YES', 9),
 ('suryakantkumar', 'users', 'last_updated_ts', 'timestamp without time zone', None, 'CURRENT_TIMESTAMP', 'YES', 10)]

In [7]:
%%sql 

SELECT 
    * 
FROM 
    information_schema.sequences
WHERE 
    sequence_name ~ 'users'

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
1 rows affected.

[('suryakantkumar', 'public', 'users_user_id_seq', 'bigint', 64, 2, 0, '1', '1', '9223372036854775807', '1', 'NO')]