## Managing Constraints

Let us understand how we can manage constraints.

* We can add constraints while creating the tables or after creating the tables.

* Constraints such as `NOT NULL`, `CHECK`, `FOREIGN KEY` are automatically dropped when we drop the table.

* Even `PRIMARY KEY` and `UNIQUE` constraints are dropped if they are not used to enforce constraints. When PRIMARY KEY or UNIQUE constraint is referred by child table then there can be errors.

* We can add constraints to existing table using `ALTER TABLE` with `ADD`. We can specify the name using `CONSTRAINT` keyword.

* Constraints from the table can be dropped using `ALTER TABLE` with `DROP`.

* Let us perform tasks to understand how we can use `ALTER TABLE` command to add or drop the constraints.

  * Use the prior users table without any constraints.
  
  * Add primary key constraint on user_id.
  
  * Add unique constraint on user_email_id.
  
  * Add not null constraints user_email_validated, user_role, created_dt, last_updated_ts
  
  * Add check constraint to user_role with 'U' and 'A' as accepted values.
  
  * Add new table user_logins with below columns and establish foreign key relationship with users.
    
    * user_login_id - `SERIAL` and `PRIMARY KEY`
    
    * user_id - `INT`
    
    * user_login_time - `TIMESTAMP` defaulted to `CURRENT_TIMESTAMP`
    
    * **user_logins** is child table to **users** with many to one relationship. Hence, create **foreign key** between **user_logins.user_id** to **users.user_id**.

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://suryakantkumar:None@localhost:5432/suryakantkumar

env: DATABASE_URL=postgresql://suryakantkumar:None@localhost:5432/suryakantkumar

In [3]:
%%sql 

DROP TABLE 
    IF EXISTS 
        users;

DROP SEQUENCE 
    IF EXISTS 
        users_user_id_seq;

CREATE TABLE 
    users (user_id INT,
           user_first_name VARCHAR(30) NOT NULL,
           user_last_name VARCHAR(30) NOT NULL,
           user_email_id VARCHAR(50) NOT NULL,
           user_email_validated BOOLEAN,
           user_password VARCHAR(200),
           user_role VARCHAR(1),
           is_active BOOLEAN,
           created_dt DATE DEFAULT CURRENT_DATE
          );
    
CREATE SEQUENCE 
    users_user_id_seq;

Done.
Done.
Done.
Done.

[]

In [4]:
%%sql 

ALTER TABLE 
    users 
        ALTER COLUMN 
            user_id SET DEFAULT nextval('users_user_id_seq'),
        ALTER COLUMN 
            user_email_validated SET DEFAULT FALSE,
        ALTER COLUMN 
            is_active SET DEFAULT FALSE,
        ALTER COLUMN 
            user_role SET DATA TYPE CHAR(1),
        ALTER COLUMN 
            user_role SET DEFAULT 'U',
        ADD COLUMN 
            last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
Done.

[]

In [5]:
%%sql 

SELECT 
    table_catalog,
    table_name,
    constraint_type,
    constraint_name 
FROM 
    information_schema.table_constraints 
WHERE 
    table_name = 'users'

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
3 rows affected.

[('suryakantkumar', 'users', 'CHECK', '2200_49369_2_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_3_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_4_not_null')]

* Add `Primary key` constraints in **users** table with auto generated naming convention, This will also add `Not NULL` constraint automatically.

In [6]:
%%sql 

ALTER TABLE 
    users 
        ADD PRIMARY KEY (user_id)

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
Done.

[]

In [7]:
%%sql 

SELECT 
    table_catalog,
    table_name,
    constraint_type,
    constraint_name 
FROM 
    information_schema.table_constraints 
WHERE 
    table_name = 'users'

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
5 rows affected.

[('suryakantkumar', 'users', 'PRIMARY KEY', 'users_pkey'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_1_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_2_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_3_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_4_not_null')]

* Removing the `Primary Key` constraint will not remove `Not Null` constraint from the column automatically

In [8]:
%%sql 

ALTER TABLE 
    users 
        DROP CONSTRAINT users_pkey

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
Done.

[]

In [9]:
%%sql 

SELECT 
    table_catalog,
    table_name,
    constraint_type,
    constraint_name 
FROM 
    information_schema.table_constraints 
WHERE 
    table_name = 'users'

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
4 rows affected.

[('suryakantkumar', 'users', 'CHECK', '2200_49369_1_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_2_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_3_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_4_not_null')]

* Add `Primary key` constraints in **users** table with specified naming convention.

In [10]:
%%sql 

ALTER TABLE 
    users 
        ADD CONSTRAINT users_pk PRIMARY KEY (user_id)

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
Done.

[]

In [11]:
%%sql 

SELECT 
    table_catalog,
    table_name,
    constraint_type,
    constraint_name 
FROM 
    information_schema.table_constraints 
WHERE 
    table_name = 'users'

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
5 rows affected.

[('suryakantkumar', 'users', 'PRIMARY KEY', 'users_pk'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_1_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_2_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_3_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_4_not_null')]

* Add `UNIQUE` constraints in **users** table with auto generated naming convention.

In [12]:
%%sql 

ALTER TABLE 
    users 
        ADD UNIQUE (user_email_id)

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
Done.

[]

In [13]:
%%sql 

SELECT 
    table_catalog,
    table_name,
    constraint_type,
    constraint_name 
FROM 
    information_schema.table_constraints 
WHERE 
    table_name = 'users'

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
6 rows affected.

[('suryakantkumar', 'users', 'PRIMARY KEY', 'users_pk'),
 ('suryakantkumar', 'users', 'UNIQUE', 'users_user_email_id_key'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_1_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_2_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_3_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_4_not_null')]

In [14]:
%%sql

ALTER TABLE 
    users
        ALTER COLUMN 
            user_email_validated SET NOT NULL, 
        ALTER COLUMN 
            user_role SET NOT NULL, 
        ALTER COLUMN 
            created_dt SET NOT NULL, 
        ALTER COLUMN 
            last_updated_ts SET NOT NULL

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
Done.

[]

In [15]:
%%sql 

SELECT 
    table_catalog,
    table_name,
    constraint_type,
    constraint_name 
FROM 
    information_schema.table_constraints 
WHERE 
    table_name = 'users'

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
10 rows affected.

[('suryakantkumar', 'users', 'PRIMARY KEY', 'users_pk'),
 ('suryakantkumar', 'users', 'UNIQUE', 'users_user_email_id_key'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_1_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_2_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_3_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_4_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_5_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_7_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_9_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_10_not_null')]

* Adding `CHECK` constraint on a column with auto generated naming convention.

In [16]:
%%sql

ALTER TABLE 
    users
        ADD CHECK (user_role IN ('U', 'A'))

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
Done.

[]

In [17]:
%%sql 

SELECT 
    table_catalog,
    table_name,
    constraint_type,
    constraint_name 
FROM 
    information_schema.table_constraints 
WHERE 
    table_name = 'users'

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
11 rows affected.

[('suryakantkumar', 'users', 'PRIMARY KEY', 'users_pk'),
 ('suryakantkumar', 'users', 'UNIQUE', 'users_user_email_id_key'),
 ('suryakantkumar', 'users', 'CHECK', 'users_user_role_check'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_1_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_2_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_3_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_4_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_5_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_7_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_9_not_null'),
 ('suryakantkumar', 'users', 'CHECK', '2200_49369_10_not_null')]

In [18]:
%%sql

DROP TABLE IF EXISTS user_logins;

CREATE TABLE 
    user_logins (user_login_id SERIAL PRIMARY KEY,
                 user_id INT,
                 user_login_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                 user_ip_addr VARCHAR(20)
                );

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
Done.
Done.

[]

In [19]:
%%sql 

SELECT 
    table_catalog,
    table_name,
    constraint_type,
    constraint_name 
FROM 
    information_schema.table_constraints 
WHERE 
    table_name = 'user_logins'

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
2 rows affected.

[('suryakantkumar', 'user_logins', 'PRIMARY KEY', 'user_logins_pkey'),
 ('suryakantkumar', 'user_logins', 'CHECK', '2200_49390_1_not_null')]

* Adding `Foreign Key` in reference to **users** table with auto generated naming convention

In [20]:
%%sql

ALTER TABLE 
    user_logins
        ADD FOREIGN KEY (user_id) REFERENCES users(user_id)

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
Done.

[]

In [21]:
%%sql 

SELECT 
    table_catalog,
    table_name,
    constraint_type,
    constraint_name 
FROM 
    information_schema.table_constraints 
WHERE 
    table_name = 'user_logins'

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
3 rows affected.

[('suryakantkumar', 'user_logins', 'PRIMARY KEY', 'user_logins_pkey'),
 ('suryakantkumar', 'user_logins', 'FOREIGN KEY', 'user_logins_user_id_fkey'),
 ('suryakantkumar', 'user_logins', 'CHECK', '2200_49390_1_not_null')]

* Dropping table having primary key as foreign key to another table, will fail as there is a child table `user_logins` for `users` table.

In [22]:
%sql DROP TABLE users

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
(psycopg2.errors.DependentObjectsStillExist) cannot drop table users because other objects depend on it
DETAIL:  constraint user_logins_user_id_fkey on table user_logins depends on table users
HINT:  Use DROP ... CASCADE to drop the dependent objects too.

[SQL: DROP TABLE users]
(Background on this error at: https://sqlalche.me/e/14/2j85)

* You can use `CASCADE` to drop foreign key constraints from child tables before dropping the table users.

In [23]:
%sql DROP TABLE users CASCADE

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
Done.

[]

In [24]:
%%sql 

SELECT 
    table_catalog,
    table_name,
    constraint_type,
    constraint_name 
FROM 
    information_schema.table_constraints 
WHERE 
    table_name = 'user_logins'

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
2 rows affected.

[('suryakantkumar', 'user_logins', 'PRIMARY KEY', 'user_logins_pkey'),
 ('suryakantkumar', 'user_logins', 'CHECK', '2200_49390_1_not_null')]

In [25]:
%%sql 

DROP TABLE 
    IF EXISTS 
        user_logins

 * postgresql://suryakantkumar:***@localhost:5432/suryakantkumar
Done.

[]